$primary-color: #2282ff;
$primary-alt-color: #4d8ee3;
$secondary-color: #454545;
$light-color: #fffbfa;
$dark-color: #454545;
$card-shadow:
  0 0px 20px rgba(154, 160, 185, 0.2),
  0 15px 60px rgba(166, 173, 201, 0.35);
$button-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
$colors: #0d47a1, #d81b60, #43a047, #ef6c00, #9c27b0, #0097a7;
