$primary-color: #2282ff;
$primary-alt-color: #4d8ee3;
$secondary-color: #454545;
$light-color: #fffbfa;
$dark-color: #454545;
$card-shadow:
  0 0px 1.25rem rgba(154, 160, 185, 0.2),
  0 0.9rem 4rem rgba(166, 173, 201, 0.35);
$button-shadow: 0 0.05rem 0.6rem rgba(0, 0, 0, 0.12);
$colors: #0d47a1, #d81b60, #43a047, #ef6c00, #9c27b0, #0097a7;
