@import 'variables';

.content {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 2.8rem;
    margin: 6.25rem 0 2.5rem;
    color: $dark-color;
  }

  .form {
    width: 28rem;
    box-shadow: $card-shadow;
    border-radius: 0.6rem;
    padding: 1.25rem 3.2rem;

    .input-container {
      display: flex;
      flex-direction: column;
      margin: 1.5rem 0;
      color: $dark-color;

      .sub-title {
        font-size: 1.4rem;
        color: $dark-color;
      }

      .textfield {
        margin: 0.6rem 0;
        input {
          color: $dark-color;
        }
      }

      .submit {
        padding: 0.75rem 1rem;
        border-radius: 0.25rem;
      }

      .text {
        align-self: center;
      }
    }
  }

  .register {
    color: $dark-color;

    margin-top: 3.125rem;
  }
}

@media only screen and (max-width: 450px) {
  .content {
    .form {
      box-shadow: none;
      width: 100%;
      padding: 1.25rem 1.875rem;
    }
  }
}
